footer{

.container{

  padding: 32px 0;

  >div{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px 0;


  }

  .logo{

    height: $logoheight;
  }

  .social{

    img{
      height: 30px;
    }
  }

  a{

    font-size: 14px;
    transition: color 0.3s ease;
    margin-left: 8px;

    &:hover{

      color: $maincolor;
    }
  }
}

}
